<header>
  <div>
    <span>
      <h4>ArtCart</h4>
      <h3>&copy;<strong>Copyright 2020</strong></h3>
    </span>
  </div>
  <div>
    <h3>
      Contact details:-
    </h3>
    <p>Mobile : <br>
      8700012045<br>
    </p>
    <p>Email : <br>
      <a href="prabhatvisvakarma9@gmail.com"> prabhatvisvakarma9@gmail.com </a><br>
    </p>

  </div>
  <div>
    <h3>
      Created By :
    </h3>
    <p>
      GitHub : <br>
      <a href=" https://github.com/prabhatkumar9?tab=repositories" target="_blank">Prabhat Kumar</a>
    </p>
  </div>
</header>
